@import "../../../assets/defaultVariables";
@import "../../../assets/defaultVariables";
@import "../../../assets/rem";

.section {
	display: flex;
	flex-direction: column;
	gap: rem(121px);
	
	.text {
		width: rem(469px);
	}
	
	.author {
		position: absolute;
		bottom: rem(74px);
		display: flex;
		gap: rem(16px);
		
		img {
			width: rem(48px);
			height: rem(48px);
		}
	}
}
