@import "../../../assets/defaultVariables";
@import "../../../assets/rem";

.section {
	padding: rem(32px);
	width: rem(296px);
	display: flex;
	flex-direction: column;
	gap: rem(16px);
	
	border: rem(1px) solid rgba(109, 110, 118, 0.3);
	
	&:hover {
		background-color: $color_main;
		border: rem(1px) solid $color_main;
	}
	
	.icon {
		width: rem(48px);
	}
	
	.text {
		display: flex;
		flex-direction: column;
		gap: rem(4px);
	}
	
	@media (max-width: $phone_l) {
		width: 100%;
		flex-direction: row;
	}
}




