@import "../../../assets/defaultVariables";
@import "../../../assets/rem";

.section {
	width: rem(517px);
	padding: rem(32px) 0 rem(25px) rem(32px);
	display: flex;
	flex-direction: column;
	gap: rem(8px);
	
	&:hover {
		background: #fbf6ea;
	}
	
	.text {
		width: rem(370px);
		
		@media (max-width: $phone_l) {
			width: rem(453px);
		}
	}
}
