@import "../../../assets/defaultVariables";
@import "../../../assets/rem";

.section {
	width: rem(296px);
	height: rem(324px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: rem(20px);
	
	background-color: #f4f4f4;
	
	&:hover {
		background-color: #fbf6ea;
	}
	
	.author {
		width: rem(128px);
	}
	
	.text {
		text-align: center;
	}
	
	.icons {
		display: flex;
		justify-content: center;
		gap: rem(16px);
		
		.icon img {
			width: rem(16px);
		}
	}
}
