$phone_l: 425px;
$tablet_s: 500px;
$tablet_m: 650px;
$tablet_l: 768px;
$laptop_s: 1024px;
$laptop_m: 1280px;
$laptop_l: 1440px;
//$laptop_xl: 1920px;
$screen_2k: 2048px;
$screen_4k: 2560px;

$color_main: #ffd050;
$color_mainHover: #EDC14A;
$color_second: #592ea9;
$color_black: #232536;
$color_white: #fff;
$color_lavender: #F4F0F8;

$adaptive_1-5: 1.5;
